.git
.github
.idea
.vscode
__pycache__/
*.py[cod]
*.log
*.spec
.coverage*
.pytest_cache/
build/
dist/
tests/
.env
.venv/
venv/
config.ini
config*.ini
!config_template.ini
cookies.txt
.cookies.txt
cache.json
saves/
logs/
